.form__input, .mail-form__input, .client__link {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.license__label, .client__link, .network__link, .button-menu, .button-close, .button-submit--stylish {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #FFFFFF;
}

.body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__web {
  color: #2196F3;
}

.logo--darktheme {
  color: #FFFFFF;
}

.button-submit {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #2196F3;
}

.button-submit--hero {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit--hero:hover, .button-submit--hero:focus {
  color: #2196F3;
  background-color: #FFFFFF;
}

.button-submit--stylish {
  display: inline-flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-submit__text {
  margin-right: 10px;
}

.button-submit__icon {
  text-align: center;
  fill: currentColor;
}

.button-close {
  position: absolute;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  background-color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover, .button-close:focus {
  color: #2196F3;
}

.button-close__hero {
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
}

.button-close__svg {
  fill: currentColor;
}

.button-submit--modal {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.radio-button {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .radio-button {
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .radio-button {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .radio-button {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .radio-button__item:not(:last-child) {
    margin-right: 8px;
  }
}

.radio-button__option {
  color: #212121;
  background-color: #F5F4FA;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-button__option:hover, .radio-button__option:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-menu {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu:hover .button-menu__icon--close,
.button-menu:hover .button-menu__icon--open {
  fill: #2196F3;
}

.button-menu.is-open {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
}

.button-menu.is-open .button-menu__icon--close {
  display: block;
}

.button-menu.is-open .button-menu__icon--open {
  display: none;
}

.button-menu .button-menu__icon--close {
  display: none;
}

.button-menu__icon--close {
  fill: #212121;
}

.button-menu__icon--open {
  fill: #000000;
}

.network {
  display: inline-flex;
}

.network__item {
  width: 44px;
  height: 44px;
}
.network__item:not(:last-child) {
  margin-right: 10px;
}

.network__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #AFB1B8;
  background-color: inherit;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link:hover, .network__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.network__icon {
  fill: currentColor;
}

.network__link--dark {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link--dark:hover, .network__link--dark:focus {
  background-color: #2196F3;
}

.network__link--mobile .network__link--mobile {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.network__link--mobile .network__link--mobile:hover, .network__link--mobile .network__link--mobile:focus {
  color: #2196F3;
  background-color: transparent;
}
.network__link--mobile .network__link--mobile::after {
  content: "";
  width: 2px;
  height: 100%;
  margin-left: 10px;
  background-color: black;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav {
    margin-right: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    margin-right: 305px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    margin-bottom: 64px;
  }
}

.header__menu {
  display: none;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .header__menu {
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }
  .header__menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__network {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

.header__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.header__item:not(:last-child) {
  margin-right: 10px;
}
.header__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  width: 1px;
  height: 100%;
  outline: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 365px) and (max-width: 437px) {
  .header__item:nth-child(3)::after {
    outline: none;
  }
}

@media screen and (max-width: 364px) {
  .header__item:nth-child(2)::after {
    outline: none;
  }
}

@media screen and (min-width: 768px) {
  .header__network {
    display: none;
  }
}

.nav__list {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .nav__list {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__item--dark {
  position: relative;
  color: #212121;
}

.nav__item--current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .nav__item--current::after {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    content: "";
    border-radius: 2px;
    background-color: #2196F3;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .nav__item--current::after {
    bottom: -35px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .nav__item--current::after {
    bottom: -33px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link:hover, .nav__link:focus {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #2196F3;
  }
}

.contact {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .contact {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    font-size: 12px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}

.contact__icon--desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .contact__icon--desktop {
    display: initial;
    margin-right: 10px;
    fill: currentColor;
  }
}

.contact__icon--tablet {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 767px), (min-width: 1200px) {
  .contact__icon--tablet {
    display: none;
  }
}

@media screen and (max-width: 321px) {
  .contact__item:last-child {
    margin-bottom: 32px;
    font-size: 26px;
    color: #2196F3;
  }
}
@media screen and (min-width: 322px) and (max-width: 341px) {
  .contact__item:last-child {
    margin-bottom: 32px;
    font-size: 26px;
    color: #2196F3;
  }
}
@media screen and (min-width: 342px) and (max-width: 373px) {
  .contact__item:last-child {
    margin-bottom: 32px;
    font-size: 30px;
    color: #2196F3;
  }
}
@media screen and (min-width: 374px) and (max-width: 768px) {
  .contact__item:last-child {
    margin-bottom: 32px;
    font-size: 34px;
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img-450.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img-900.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img-768.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img-1536.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img-1600.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img-3200.jpg);
  }
}

.hero__container {
  box-sizing: content-box;
  max-width: 360px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
  }
}

.hero__section-title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero__section-title {
    margin-bottom: 40px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .principles__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.principle__container {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.principle__title {
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.17;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .principle__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .principle__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .principle__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.principle__text {
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .specialization {
    display: none;
  }
}

.specialization {
  padding-top: 0;
}

.specialization__list {
  display: flex;
}

.specialization__item:not(:last-child) {
  margin-right: 30px;
}

.specialization__position {
  position: relative;
}

.specialization__image {
  display: block;
}

.specialization__text {
  padding: 27px 0;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.staff {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .staff__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.staff__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .staff__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .staff__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .staff__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.staff__container {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  border-radius: inherit;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .staff__container {
    padding-bottom: 30px;
  }
}

.staff__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: #212121;
}

.staff__position {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client__link {
  height: 92px;
  border-color: #AFB1B8;
  color: #AFB1B8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.client__icon {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__active {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__active {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer__address,
.footer__network {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address,
.footer__network,
.footer__mail {
    text-align: center;
  }
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.address {
  font-style: inherit;
}

.address__item {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address__item:first-child {
  color: #FFFFFF;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196F3;
}

.footer__title {
  display: block;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 1.17;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__network {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__network {
    padding-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mail {
    padding-top: 12px;
  }
}

.mail-form {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .mail-form {
    display: flex;
  }
}

.mail-form__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border-color: rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
  background-color: transparent;
}
@media screen and (max-width: 1199px) {
  .mail-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-form__input {
    margin-right: 12px;
    width: 358px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-form__input {
    width: 450px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.mail-form__input::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  box-sizing: border-box;
  transform: scale(1);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden > .modal {
  transform: scale(1.5);
}
@media screen and (min-width: 600px) {
  .modal {
    width: 100%;
    max-width: 528px;
    max-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%) scale(1);
  }
  .is-hidden > .modal {
    transform: translate(-50%, -25%) scale(1.5);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    transform: translate(-50%, -50%) scale(1);
  }
  .is-hidden > .modal {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.form__title {
  margin-bottom: 12px;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.form__list {
  margin-bottom: 20px;
}

.form__item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__item:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  box-sizing: border-box;
  padding: 12px 12px 12px 42px;
  height: 40px;
  font-family: inherit;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border-color: rgba(33, 33, 33, 0.2);
  outline: none;
  resize: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:last-child {
  padding: 12px;
  height: 120px;
}
.form__input:focus {
  border-color: #2196F3;
}
.form__input::placeholder {
  letter-spacing: 0.01em;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus ~ .form__icon {
  fill: #2196F3;
}

.license {
  margin-bottom: 30px;
}

.license__choice {
  width: 16px;
  height: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 2px;
  outline: #212121 2px solid;
  outline-offset: -2px;
}

.license__icon-choice {
  fill: #FFFFFF;
}

.license__input:checked + .license__choice {
  background-color: #2196F3;
  outline-color: #2196F3;
}

.license__choice {
  margin-right: 7px;
}

.license,
.form__submit {
  text-align: center;
}

.license__text {
  user-select: none;
}

.license__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1200px) {
  .license__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.license__link {
  text-decoration: underline;
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .work__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.work__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work__item:hover, .work__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .work__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .work__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .work__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .work__item > .link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.work__container {
  padding: 20px 24px;
  border-color: #EEEEEE;
  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .work__container {
    flex-grow: 1;
  }
}

.work__thumb {
  position: relative;
  overflow: hidden;
}

.work__image {
  display: block;
}

.work__overlay {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work__item:hover .work__overlay, .work__item:focus .work__overlay {
  transform: translateY(-100%);
}

.work__description {
  padding: 63px 24px 0 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
}
@media screen and (max-width: 380px) {
  .work__description {
    padding: 24px 24px 0 24px;
    font-size: 16px;
  }
}

.work__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.work__text {
  font-size: 16px;
  line-height: 1.87;
}/*# sourceMappingURL=main.css.map */