.contact {

    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.14;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;

        font-size: 14px;
    }
}

.contact__icon--desktop {
    display: none;

    @media screen and (min-width: 1200px) {
        display:initial;
        margin-right: 10px;

        fill: currentColor;
    }
}

.contact__icon--tablet {
    margin-right: 8px;

    fill: currentColor;

    @media screen and (max-width: 767px), (min-width: 1200px) {
        display: none;
    }  
}

.contact__item {
    &:last-child {
        margin-bottom: 32px;
        color: getColor("attention");

        @media screen and (min-width: 322px) and (max-width: 341px) {
            font-size: 26px;
        }

        @media screen and (min-width: 342px) and (max-width: 373px) {
            font-size: 30px;
        }

        @media screen and (min-width: 374px) and (max-width: 768px) {
            font-size: 34px;
        }
    }

    &:not(:last-child) {

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 10px;
        }
        
        @media screen and (min-width: 1200px) { 
            margin-right: 50px;
        }
    }
}

.contact__link {
    @include transition (color);

    &:hover,
    &:focus {
        color: getColor("attention");
    }    
}
