.footer {
    background-color: getColor("attention-background");
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

.footer__active {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 60px;
    }
}

.footer__address {

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}

.footer__address,
.footer__network {

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}

.footer__address,
.footer__network,
.footer__mail {

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.footer__logo {
    margin-bottom: 20px;
    display: block;
}

.address {
    font-style: inherit;
}

.address__item {
  
    line-height: 1.71;

    color: rgba(255, 255, 255, 0.6);
    
    &:first-child {
        color: getColor("basic-background");
    }

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.address__link {
    @include transition (color);

        &:hover,
        &:focus {
        color: getColor("attention");
    }
}

.footer__title {
    display: block;
    color: getColor("basic-background");

    text-transform: uppercase;
    line-height: 1.17;
    margin-bottom: 20px;
}

.footer__network {

    @media screen and (min-width: 768px) {
        padding-top: 5px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 12px;
    }
}

.footer__mail {

    @media screen and (min-width: 1200px) {
        padding-top: 12px;
    }
}

.mail-form {
    text-align: center;
        @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.mail-form__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;

    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    outline: none;
   
    @extend %bordered;
    border-color: rgba(255, 255, 255, 0.3);
   
    color: getColor("basic-background");
    background-color: transparent;

    &::placeholder {
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        width: 358px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 450px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
