.header {
    

    @media screen and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px){
        padding-top: 24px;
        padding-bottom: 24px;
    }
  
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   
.header__nav {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 84px;
    }

    @media screen and (min-width: 1200px) {
    margin-right: 305px;
    }
}

.header__contact {
    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
    }
}

.header__menu {
    visibility: hidden;
    opacity: 0;

    @include transition(visibility, opacity);

    @media screen and (max-width: 767px) {
        background-color: getColor("basic-background");
        padding: 48px 40px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    
        &.is-open {
            visibility: visible;
            opacity: 1;
        }
    }
   

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        visibility: visible;
        opacity: 1;
    }
}

.header__network {
    @media screen and (min-width: 768px) {
        display: none;
    }
}














