.header {
    
    @media screen and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px){
        padding-top: 24px;
        padding-bottom: 24px;
    }
  
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   
.header__nav {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 84px;
    }

    @media screen and (min-width: 1200px) {
    margin-right: 305px;
    }
}

.contact {
    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
    }
}

.header__menu {
    display: none;

    background-color: getColor("basic-background");
   
    @media screen and (max-width: 767px) {

        width: 100%;  
        height: 100vh;
        padding: 48px 40px;

        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
     
        &.is-open {
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
        }
    }

    @media screen and (min-width: 768px) {
    
        display: flex;
        align-items: center;
        justify-content: space-between;  
    }
}

.header__network {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;   
}

.header__item {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: getColor("attention");

    &:not(:last-child) {
        margin-right: 10px;

        &::after {
            content: "";
            margin-left: 10px;
            width: 1px;
            height: 100%;
          
            outline: 1px solid rgba(33, 33, 33, 0.2); 
        }
    }
}


.header__item:nth-child(3)::after {
    @media screen and (min-width: 365px) and (max-width: 437px){
        outline: none;
    }
} 

.header__item:nth-child(2)::after {
    @media screen and (max-width: 364px){
        outline: none;
    }
} 

.header__network {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
















