.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;

    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: getColor("attention-background");

    background-image: 
    linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../../images/background-img-450.jpg);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: 
            linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../../images/background-img-900.jpg);
    }

    @media screen and (min-width: 480px) {

        max-width: 768px;

        background-image: 
        linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../../images/background-img-768.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: 
                linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ),
                url(../../images/background-img-1536.jpg);
        }

    }

    @media screen and (min-width: 768px) {

        max-width: 1600px;

        background-image: 
        linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../../images/background-img-1600.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: 
                linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ),
                url(../../images/background-img-3200.jpg);
        }
    }
}



.hero__container {
    box-sizing: content-box;
    max-width: 360px;
    @media screen and (min-width: 1200px) {
        max-width: 696px;
    }

    text-align: center;
}

.hero__section-title{
    margin-bottom: 30px;

    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    color: getColor("basic-background");

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px;

        font-size: 44px;
        line-height: 1.36;
    }
}



// .hero {
//     padding-top: 200px;
//     padding-bottom: 200px;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;

//     letter-spacing: 0.06em;
    
//     background-image: 
//         linear-gradient(
//             to right,
//             rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)
//             ),
//         url(../images/background-img.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     background-color: getColor("attention-background");
// }

// .hero__container {
//     max-width: 696px;

//     text-align: center;
// }

// .hero__section-title{
//     margin-bottom: 40px;

//     font-size: 44px;
//     font-weight: 900;
//     line-height: 1.36;
//     text-transform: uppercase;
//     text-align: center;

//     color: getColor("basic-background");
// }

