.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    letter-spacing: 0.06em;
    
    background-image: 
        linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
        url(../images/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: getColor("attention-background");
}

.hero__container {
    max-width: 696px;

    text-align: center;
}

.hero__section-title{
    margin-bottom: 40px;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;

    color: getColor("basic-background");
}

