.principles__list {
    display: flex;
}

.principle__item:not(:last-child) {
    margin-right: 30px;
}

.principle__container {
    height: 120px;
    margin-bottom: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background-color: getColor("second-background");   
}

.principle__title {
    margin-bottom: 10px;
 
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: getColor("title");

}

.principle__text {
    font-size: 14px;
    line-height: 1.71;
}