


@mixin transition ($property...) {
    transition-property: $property;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
%bordered {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

%flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}