.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    padding: 0;

    cursor: pointer;

    text-align: center;
    font-family: inherit;
    font-size: 16px;
    border: none;
    background-color: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}