.button-submit {
    width: 200px;
    height: 50px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;

    border-radius: 4px;

    color: getColor("basic-background");
    background-color: getColor("attention");  
}

.button-submit--hero {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @include transition (background-color, color);

    &:hover,
    &:focus {
        color: getColor("attention");
        background-color: getColor("basic-background");
    }
}

.button-submit--stylish {

   @extend %flex-centered;
   display: inline-flex;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-submit__text {
    margin-right: 10px;
}

.button-submit__icon {
    text-align: center;
    fill: currentColor;
}

.button-close {
    position: absolute;
   
    @extend %flex-centered;

    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    color: getColor("logo");
    background-color: getColor("basic-background");
  
    @include transition(color);
 
    &:hover,
    &:focus {
        color: getColor("attention");
    }
}

.button-close__hero {
    width: 30px;
    height: 30px;

    right: 8px;
    top:8px;
}

.button-close__svg {
    fill: currentColor;
}

.button-submit--modal {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.radio-button {
    display: flex;
    
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 8px;
    }
  
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }

    margin-bottom: 40px;
}

.radio-button__item:not(:last-child) {
    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }    
}

.radio-button__option {
    color: getColor("title");
    background-color: getColor("second-background");

    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    padding: 6px 22px;
    border-radius: 4px;

    @include transition(background-color, color, box-shadow);

    &:hover,
    &:focus {
    color: getColor("basic-background");
    background-color: getColor("attention");
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    }  

}

.button-menu {
    width: 40px;
    height: 40px;
    @extend %flex-centered;

        @media screen and (min-width: 768px) {
            display: none;
    }
}
.button-menu {

    &:hover {
        .button-menu__icon--close, 
        .button-menu__icon--open  {
            fill: getColor("attention");
        } 
    }
}

.button-menu.is-open {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 100;
}

.button-menu.is-open .button-menu__icon--close{
    display: block;
}

.button-menu.is-open .button-menu__icon--open{
   display: none;
}
.button-menu .button-menu__icon--close {
    display: none;
}

.button-menu__icon--close {
    fill: getColor("title");
}

.button-menu__icon--open {
    fill: getColor("logo");
}



// .button-close__mobile-menu {
//     width: 40px;
//     height: 40px;

//     right: 15px;
//     top: 10px;
// }

// .button-close__mobile-menu--borderless {
//     border: none;
// }




// .button-submit--hero {


//     @include transition (background-color, color);

//     &:hover,
//     &:focus {
//         color: getColor("attention");
//         background-color: getColor("basic-background");
//     }
// }

// .button-submit--stylish {

//    @extend %flex-centered;
    
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }