.logo {

    font-family: $secondary-font-fam;
    font-size: 24px;
   
    font-weight: 700;
    line-height: 1.38;
    color: getColor("logo");  

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__web {
    color: getColor("attention");
}

.logo--darktheme {
    color: getColor("basic-background");
}